###############################################################################
# [ WARNING ]
# cinder-volume configuration file maintained by cinder-truenas-operator
# local changes will be overwritten.
###############################################################################
[DEFAULT]
rootwrap_config = {{ snap_paths.common }}/etc/cinder/rootwrap.conf
api_paste_confg = {{ snap_paths.common }}/etc/cinder/api-paste.ini
debug = {{ settings.debug }}
use_syslog = True
auth_strategy = keystone
state_path = {{ snap_paths.data }}/lib/cinder

transport_url = {{ rabbitmq.url }}
# rabbit://cinder-volume:password@10.206.54.241:5672/openstack

enabled_backends = truenas-iscsi
default_volume_type = ixsystems-iscsi

cinder_internal_tenant_project_id = {{ cinder.project_id }}
cinder_internal_tenant_user_id = {{ cinder.user_id }}


[database]
connection = {{ database.url }}
#mysql+pymysql://relation-61_fd936cb4c14c4e-141:password@10.206.54.40:31095/cinder

[oslo_messaging_rabbit]
rabbit_quorum_queue = True

[oslo_concurrency]
lock_path = {{ snap_paths.common }}/lib/cinder/tmp

# image_volume_cache_enabled = False
# image_volume_cache_max_size_gb = {{ options.image_volume_cache_max_size_gb }}/
# image_volume_cache_max_count = {{ options.image_volume_cache_max_count }}/
