###############################################################################
# [ WARNING ]
# cinder-volume configuration file maintained by a snap
# local changes will be overwritten.
###############################################################################
[DEFAULT]
rootwrap_config = {{ snap_paths.common }}/etc/cinder/rootwrap.conf
api_paste_confg = {{ snap_paths.common }}/etc/cinder/api-paste.ini
debug = {{ settings.debug }}
use_syslog = True
auth_strategy = keystone
state_path = {{ snap_paths.data }}/lib/cinder
transport_url = {{ rabbitmq.url }}
cinder_internal_tenant_project_id = {{ cinder.project_id }}
cinder_internal_tenant_user_id = {{ cinder.user_id }}
default_volume_type = {{ cinder.default_volume_type }}
{% if cinder.cluster is defined and cinder.cluster %}
cluster = {{ cinder.cluster }}
{% endif %}
enabled_backends = {{ cinder_backend.enabled_backends }}


[database]
connection = {{ database.url }}

[oslo_messaging_rabbit]
rabbit_quorum_queue = True

[oslo_concurrency]
lock_path = {{ snap_paths.common }}/lib/cinder/tmp

[backend_defaults]
image_volume_cache_enabled = {{ cinder.image_volume_cache_enabled }}
image_volume_cache_max_size_gb = {{ cinder.image_volume_cache_max_size_gb }}
image_volume_cache_max_count = {{ cinder.image_volume_cache_max_count }}
target_helper = lioadm

{% for name, config in cinder_backend.backend_configs.items() -%}
[{{ name }}]
{% for key, value in config.items() -%}
{{ key }} = {{ value }}
{% endfor -%}
{% endfor %}
